@import "../../sass/index.scss";

.home__products {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 20px;
  column-gap: 50px;
  flex-wrap: wrap;
  background-color: $white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  @include media-query(small) {
    padding: 50px;
    background-color: $secondary;
    row-gap: 40px;
  }
  @include media-query(medium) {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    border-radius: 16px;
    background-color: $secondary;
    row-gap: 40px;
  }
  @include media-query(large) {
    background-color: $secondary;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    border-radius: 10px;
  }
}